<div class="flex flex-col">
  <div class="text-gray-500 flex flex-row gap-1">
    <small>
      <i class="fa-solid fa-house"></i>
    </small>
    <small>
      <i class="fa-solid fa-angle-right"></i>
    </small>
    <small>Let's be busy</small>
    <small>
      <i class="fa-solid fa-angle-right"></i>
    </small>
    <small class="text-blue-400">#LBB-1</small>
  </div>
  <h1 class="text-3xl text-gray-800 py-3">Let's be busy development</h1>
</div>
<div class="flex flex-row">
  <div class="w-2/3">
    <div class="grid grid-cols-2 text-gray-500 py-2">
      <div class="flex flex-row gap-1 items-center">
        <i class="fa-solid fa-minus text-white bg-yellow-500 p-1 rounded"></i>
        <span>Normal</span>
      </div>
      <div class="flex flex-row gap-1 items-center">
        <i class="fa-solid fa-code text-white bg-blue-500 p-1 rounded"></i>
        <span>Development</span>
      </div>
    </div>
    <h3 class="font-semibold py-2">Description</h3>
    <div class="container">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae dolor eu dolor volutpat auctor tempor in dui.
      Aliquam fermentum lorem ut nulla rhoncus, eu iaculis neque feugiat. Donec ornare, neque vel vehicula lacinia, quam
      leo porta lacus, et lacinia justo erat a enim. Nulla sit amet tortor id eros blandit tincidunt. Maecenas faucibus
      pharetra eleifend. Integer vulputate rhoncus ultrices. Donec quis odio dui. Lorem ipsum dolor sit amet,
      consectetur
      adipiscing elit. Sed ut lacus eu urna dapibus aliquam. Integer dignissim pellentesque nulla a pellentesque.
    </div>
    <hr class="my-3"/>
    <div>
      <div class="flex flex-col">
        <div class="flex gap-3 items-center">
          <img src="https://avatars.githubusercontent.com/u/22263436?v=4"
               class="object-cover w-8 h-8 rounded-full
                            border-2 border-emerald-400  shadow-emerald-400
                            "/>
          <h3 class="font-bold">
            User name
          </h3>
        </div>
        <p class="text-gray-600 mt-2">
          this is sample commnent
        </p>
      </div>
    </div>
  </div>
  <div class="w-1/3">
    <div class="flex flex-col gap-1">
      <div class="flex flex-col">
        <small class="text-gray-800">Assigned to</small>
        <div class="flex flex-row gap-1 items-center">
          <a href="#" class="text-blue-500">Simple user</a>
          <i class="fa-solid fa-gear text-gray-500 cursor-pointer"></i>
        </div>
      </div>
      <div class="flex flex-col">
        <small class="text-gray-800">Created by</small>
        <div class="flex flex-row gap-1 items-center">
          <a href="#" class="text-blue-500">Simple user</a>
        </div>
      </div>
      <div class="flex flex-col">
        <small class="text-gray-800">Created</small>
        <span>2024-10-22 12:28</span>
      </div>
      <div class="flex flex-col">
        <small class="text-gray-800">Updated</small>
        <span>-</span>
      </div>
    </div>
  </div>
</div>
