<div class="flex flex-col gap-1">
  <div class="flex-auto rounded bg-white px-2 py-2 overflow-auto">
    <h2 class="font-medium text-xl py-2 text-gray-600">
      <i class="fa-regular fa-circle-check"></i> Issue list
    </h2>
  </div>

  <div class="bg-white px-2 py-2 flex flex-col gap-2">
    @if (vm.onLoading()) {
      <div>
        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
      </div>
    }
    <table class="w-full text-left border-collapse">
      <tbody class="align-baseline  divide-y">
        @for (issue of vm.entities(); track issue.id) {
          <tr class="hover:bg-gray-200 cursor-pointer">
            <td class="py-2 leading-6 text-sky-500 whitespace-nowrap dark:text-sky-400">
              <a [routerLink]="[issue.id.value]" class="text-blue-400">{{issue.id.value}}</a>
            </td>
            <td>
              <span>{{issue.title}}</span>
            </td>
            <td>
              <div class="flex-auto flex flex-row justify-end items-center gap-1">
                <span class="bg-blue-500 text-white px-2 py-1 text-sm rounded-2xl h-6 leading-4">TODO</span>
                <a href="#">
          <span class="bg-blue-700 text-white w-8 h-8 text-sm block text-center align-middle leading-8 rounded-3xl"
                title="Example User">EU</span>
                </a>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
